/* 
  Custom styles for Markdown PDF. Classes inspired by and largely mimicking TailwindCSS.

  Extension ID: yzane.markdown-pdf
  ref: https://github.com/yzane/vscode-markdown-pdf

  N.B. If you're creating a dark mode document, pad out the last page of content 
       with blank elements to fill it with background, for ex:

    &nbsp;
    ###

    &nbsp;
    ###
*/

html, body, .github-markdown-body {
  /*
  background-color: #1f1f1f;
  color: #cccccc;
  */
  background-color: #fff;
  color: #000;
  padding: 2rem;
  padding-top: 1.5rem;
  font-family: Ubuntu;
  font-weight: 300;
}

a, a:active {
  /*
  color: #4daafc;
  */
  color: #3377ee;
}

ul {
  padding-left: 1rem;
}

h1 {
  /*
  border-bottom: 1px solid #4d4d4d;
  */
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.text-smaller {
  font-size: smaller;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.border-0 {
  border-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-black {
  border-color: #000;
}

.border-white {
  border-color: #fff;
}

.flex {
  display: flex;
}

.w-1o2 {
  width: 50%;
}

.w-1o3 {
  width: 33.33%;
}

.w-2o3 {
  width: 66.67%;
}

.items-center {
  align-items: center;
}

.italic {
  font-style: italic;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.-mb-1 {
  margin-bottom: -0.25rem;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.mr-1-5 {
  margin-right: 0.375rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.-ml-2 {
  margin-left: -0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.-mb-2 {
  margin-bottom: -0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.-mb-3 {
  margin-bottom: -0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.-mt-3 {
  margin-top: -0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.-mb-4 {
  margin-bottom: -1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.-mr-4 {
  margin-right: -1rem;
}

.-ml-4 {
  margin-left: -1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-8 {
  margin-right: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.-ml-8 {
  margin-left: -2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.-mt-8 {
  margin-top: -2rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.mr-12 {
  margin-right: 3rem;
}

.ml-16 {
  margin-left: 4rem;
}

.w-3 {
  width: 0.75rem;
}

.h-3 {
  height: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.w-16 {
  width: 4rem;
}

.h-16 {
  height: 4rem;
}

.w-full {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.text-center {
  text-align: center;
}

.gap-2 {
  gap: 0.5rem;
}
